page-sermons {
  ion-item ion-label {
    border-left: 2px solid #EDC225;
    padding-left: 10px;
  }
  ion-item-group ion-item-divider.item {
    background-color: rgba(252, 251, 249, 0.95);
  }
  ion-segment {
    padding-right: 5px;
    padding-left: 5px;
  }
}
