page-sermons {
    ion-item ion-label {
        border-left: 2px solid #EDC225;
        padding-left: 10px;
    }
    ion-item-group ion-item-divider.item {
        background-color: rgba(252, 249, 249, 0.95);
    }
}