<ion-header>

  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
          </button>
    <ion-title>
      Sermons
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addNewSermon()"> New
        <ion-icon name="add-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateSchedule()" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <!-- insert list of Sermons -->

  <ion-list>

    <ion-item-group *ngFor="let list of sermonList">

      <ion-item-divider sticky>
        <ion-label>
          {{list.series }}
        </ion-label>
      </ion-item-divider>

      <!-- <ion-item-sliding *ngFor="let sermon of list.sermon"> -->

      <ion-item *ngFor="let sermon of list.sermon" (click)="openSermonDetails(sermon)">
        {{ sermon.title }}
        <p>{{ sermon.description }} &mdash; {{sermon.date| date:'mediumDate'}}
        </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark">
        <ion-icon name="information"></ion-icon>
        Text
      </button>
        <button ion-button color="danger">
        <ion-icon name="trash"></ion-icon>
        Call
      </button>
      </ion-item-options>

      <!-- </ion-item-sliding> -->

    </ion-item-group>
  </ion-list>

</ion-content>