<!--
  Generated template for the SermonDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Sermon Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      {{ sermon.title }}
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-auto>
            <strong>Title:</strong>
          </ion-col>
          <ion-col>
            {{ sermon.series }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-auto>
            <strong>Description:</strong>
          </ion-col>
          <ion-col>
            {{ sermon.description }}
          </ion-col>
        </ion-row>
      </ion-grid>

      <hr>

      <ion-row>
        &nbsp;&nbsp;<strong>References</strong>
      </ion-row>
      <ion-grid *ngFor="let ref of sermon.reference; let i = index">
        <ion-row *ngIf="ref.chapterTo">{{i+1}}.&nbsp;&nbsp;{{ ref.book }}&nbsp;{{ ref.chapterFrom }}:{{ref.verseFrom }} - {{ ref.chapterTo }}:{{ ref.verseTo
          }}
        </ion-row>
        <ion-row *ngIf="!ref.chapterTo">{{i+1}}.&nbsp;&nbsp;{{ ref.book }}&nbsp;{{ ref.chapterFrom }}:{{ref.verseFrom }}
        </ion-row>
      </ion-grid>


      <hr>
      <ion-row>
        &nbsp;&nbsp;<strong>Locations</strong>
      </ion-row>
      <ion-grid *ngFor="let location of sermon.location; let i = index">
        <ion-row>{{ i + 1}}.&nbsp;<strong>Place:</strong>&nbsp;&nbsp;{{ location.location }}</ion-row>
        <ion-row><strong>&nbsp;&nbsp;&nbsp;&nbsp;Date:</strong>&nbsp;&nbsp;&nbsp;{{ location.date | date: 'mediumDate' }} </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-fab bottom right #fab>
    <button ion-fab color="secondary"><ion-icon name="document"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="danger" (click)="deleteSermon(fab)"><ion-icon name="md-trash"></ion-icon>
            </button>

      <button ion-fab color="light" (click)="editSermon(fab)"><ion-icon name="ios-paper-outline"></ion-icon>
      </button>

      <button ion-fab color="primary" (click)="addSermonToSeries(fab)"><ion-icon name="add-circle"></ion-icon>
      </button>

    </ion-fab-list>
  </ion-fab>
</ion-content>
