<!--
  Generated template for the SermonDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sermon Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card padding>
    <ion-card-header>
      {{ sermon.title }}
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <strong>Title</strong>
          </ion-col>
          <ion-col>
            {{ sermon.series }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <strong>Description</strong> :
          </ion-col>
          <ion-col>
            {{ sermon.description }}
          </ion-col>
        </ion-row>
      </ion-grid>

      <hr>

      <ion-row>
        &nbsp;&nbsp;<strong>References</strong>
      </ion-row>
      <ion-grid *ngFor="let ref of sermon.reference; let i = index">
        <ion-row>{{i+1}}.&nbsp;&nbsp;{{ ref.book }}&nbsp;{{ ref.chapterFrom }}:{{ref.verseFrom }} - {{ ref.chapterTo }}:{{ ref.verseTo
          }}
        </ion-row>
      </ion-grid>


      <hr>
      <ion-row>
        &nbsp;&nbsp;<strong>Locations</strong>
      </ion-row>
      <ion-grid *ngFor="let location of sermon.location; let i = index">
        <ion-row>{{ i + 1}}.&nbsp;<strong>Place:</strong>&nbsp;&nbsp;{{ location.location }}</ion-row>
        <ion-row><strong>&nbsp;&nbsp;&nbsp;&nbsp;Date:</strong>&nbsp;&nbsp;&nbsp;{{ location.date | date: 'mediumDate' }} </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>